.additional {
  margin-bottom: 17px;
  border: none;
}

.additional__title {
  margin-bottom: 35px;
  padding-left: var(--padding-mobile);
  border-bottom: 2px solid var(--color-primary);
  transform: translateY(-13px);
  @include titletext(24px,24px);

  @include tablet {
    margin-top: 36px;
    margin-bottom: 64px;
    padding-left: var(--padding-tablet-form);
    transform: translateY(-14px);
  }

  @include desktop {
    margin-top: 40px;
    margin-bottom: 62px;
    padding-left: var(--padding-desktop);
  }
}

.additional__title-text {
  display: block;
  max-width: 180px;
  padding: 0 20px;
  background-color: white;
  transform: translate(-21px, 9px);

  @include tablet {
    max-width: 300px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
    transform: translate(-40px, 10px);
  }
}

.additional__content-center {
  @include content-center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
    padding: 0 var(--padding-tablet-form);
  }

  @include desktop {
    margin-bottom: 11px;
    padding: 0 var(--padding-desktop);
  }
}

.additional__label {
  position: relative;
  display: block;
  margin-bottom: 24px;
  padding-left: 45px;
  text-transform: uppercase;
  cursor: pointer;
  @include titletext(16px,18px);

  @include tablet {
    width: 40%;
    margin-bottom: 53px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: 220px;
  }
}

.additional__label:active,
.additional__label:focus {
  outline: none;
}

.additional__label:nth-of-type(2n-1) {
  @include tablet {
    margin-right: 60px;
  }
}

.additional__label:nth-of-type(2n),
.additional__label:nth-of-type(2n-1) {
  @include desktop {
    margin-right: 104px;
  }
}

.additional__label:last-of-type,
.additional__label:nth-last-of-type(2) {
  @include tablet {
    margin-bottom: 0;
  }
}

.additional__label:last-of-type {
  @include desktop {
    margin-right: 0;
  }
}

.additional__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: solid 1px var(--color-menuline);
  cursor: pointer;

  @include tablet {
    top: -11px;
    width: 40px;
    height: 40px;
  }

  @include desktop {
    top: -10px;
  }
}

.additional__label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  display: none;
  width: 12px;
  height: 20px;
  border: solid var(--color-primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

  @include tablet {
    top: -2px;
    left: 16px;
  }

  @include desktop {
    top: -3px;
  }
}

.additional__input:checked + .additional__label::after {
  display: block;
}

.additional__input:not(:disabled):focus + .additional__label::before,
.additional__input:not(:disabled):hover + .additional__label::before {
  border-color: var(--color-line);
}

.additional__input:disabled + .additional_label {
  cursor: auto;
  opacity: 0.3;
}

.additional__input:disabled + .additional_label::before {
  cursor: auto;
}
