.basics {
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid var(--color-menuline);

  @include tablet {
    padding: 0 var(--padding-tablet-form);
    border: none;
  }

  @include desktop {
    flex-grow: 1;
    width: 520px;
    margin-right: 80px;
    padding: 0;
  }
}

.basics__content-center {
  @include content-center;

  @include desktop {
    padding: 0;
  }
}

.basics__label {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
  color: var(--color-black);
  text-transform: uppercase;

  @include titletext(16px,18px);

  @include tablet {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    max-width: 570px;
  }
}

.basics__label:last-child {
  @include desktop {
    margin-bottom: 0;
  }
}

.basics__input {
  flex-grow: 1;
  margin-left: 15px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;

  @include input;

  @include tablet {
    margin-left: 18px;
  }
}

.basics__input:active::placeholder,
.basics__input:focus::placeholder {
  opacity: 0;
}
