.btn {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  @include titletext(16px, 20px);

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn--green {
  color: white;
  background-color: var(--color-primary);

  &:focus,
  &:hover {
    background-color: var(--color-primary-dark);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--color-primary-dark);
  }
}

.btn--gray {
  color: var(--color-copy);
  background-color: var(--color-background);

  &:focus,
  &:hover {
    background-color: var(--color-menuline);
  }

  &:active {
    color: rgba(var(--color-copy), 0.3);
    background-color: var(--color-menuline);
  }
}
