.catalog-main__heading {
  margin-top: 17px;
  margin-bottom: 27px;
  padding-left: var(--padding-mobile);
  @include titletext(36px, 60px);

  @include tablet {
    margin-top: 54px;
    margin-bottom: 82px;
    padding-left: var(--padding-tablet);
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-top: 18px;
    padding-left: var(--padding-desktop);
  }
}

.catalog-main__products {
  list-style: none;
}

.catalog-main__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include content-center;
  }
}
