.catalog-main__heading {
  margin-top: 17px;
  margin-bottom: 27px;
  padding-left: var(--padding-mobile);
  color: var(--color-black);

  @include titletext(36px, 60px);

  @include tablet {
    margin-top: 51px;
    margin-bottom: 83px;
    padding-left: var(--padding-tablet);
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-top: 9px;
    padding-left: var(--padding-desktop);
  }
}

.catalog-main__products {
  list-style: none;
}

.catalog-main__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include content-center;
  }
}

.catalog-main__supplies {
  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    padding-top: 9px;
  }
}
