.hero {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  color: white;

  @include tablet {
    min-height: 858px;
    margin-bottom: 3px;
    padding-bottom: 0;
  }

  @include desktop {
    min-height: 596px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 305px;
    background-color: var(--color-primary);
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (--retina) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @include tablet {
      content: none;
    }
  }
}

.hero__content-center {
  @include content-center;

  @include tablet {
    padding-right: calc(50% - 265px);
    padding-left: calc(50% - 265px);
  }

  @include desktop {
    padding-right: calc(50% - 531px);
    padding-left: calc(50% - 531px);
  }
}

.hero__heading {
  margin-bottom: 25px;
  padding-top: 28px;
  font-weight: 400;
  color: inherit;

  @include titletext(36px, 36px);

  @include tablet {
    margin-bottom: 41px;
    padding-top: 51px;
    text-align: left;

    @include titletext(60px, 60px);
  }

  @include desktop {
    max-width: 420px;
    padding-top: 42px;
  }
}

.hero__subline {
  margin-bottom: 300px;
  color: inherit;
  text-transform: uppercase;

  @include titletext(14px, 14px);

  @include tablet {
    margin-bottom: 45px;
    text-align: left;

    @include titletext(20px, 20px);
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.hero__btn {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    width: 245px;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
  }
}


.hero__image {
  position: absolute;
  right: 0;
  bottom: 62px;
  left: 0;
  margin: auto;

  @include tablet {
    bottom: -5px;
    z-index: -1;
  }

  @include desktop {
    top: -38px;
    bottom: auto;
    left: 50%;
    transform: translateX(-40%);
  }
}
