.main-nav {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 24px 30px 0;
  }

  @include desktop {
    position: relative;
    padding: 54px calc(50% - 610px);
  }
}

.main-nav--inverse .site-list__link {
  @include desktop {
    color: white;
  }
}

.main-nav--inverse::before {
  @include desktop {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: calc(50% - 40px);
    background-color: var(--color-primary-dark);
    min-height: 695px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (--retina) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: white;
  border: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.main-nav__toggle:active,
.main-nav__toggle:focus {
  outline: none;
}

.main-nav .main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav--open .main-nav__toggle {
  background-image: url("../img/icon-close.svg");
}

.main-nav .main-nav__list {
  display: none;

  @media (--tablet-width) {
    display: flex;
  }
}

.main-nav--open .main-nav__list {
  display: block;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
