.owner-contacts {
  padding-top: 30px;
  border: none;

  @include tablet {
    padding-top: 19px;
  }
}

.owner-contacts__content-center {
  padding-top: 30px;

  @include content-center;

  @include tablet {
    padding: 0 var(--padding-tablet-form);
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--padding-desktop);
  }
}

.owner-contacts__title {
  padding-left: var(--padding-mobile);
  color: var(--color-black);
  border-bottom: 2px solid var(--color-primary);
  transform: translateY(-36px);

  @include titletext(24px, 24px);

  @include tablet {
    margin-top: 60px;
    margin-bottom: 71px;
    padding-left: var(--padding-tablet-form);
    transform: translateY(-17px);
  }

  @include desktop {
    margin-top: 52px;
    padding-left: var(--padding-desktop);
  }
}

.owner-contacts__title-text {
  display: block;
  max-width: 224px;
  padding: 0 20px;
  background-color: white;
  transform: translate(-20px, 34px);

  @include tablet {
    max-width: 600px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
    transform: translate(-40px, 14px);
  }
}

.owner-contacts__label {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
  color: var(--color-black);
  text-transform: uppercase;

  @include titletext(16px,18px);

  @include tablet {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
  }
}

.owner-contacts__label:first-child {
  @include desktop {
    margin-right: 80px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  margin-left: 11px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;

  @include input;

  @include tablet {
    margin-left: 21px;
  }
}

.owner-contacts__input:active::placeholder,
.owner-contacts__input:focus::placeholder {
  opacity: 0;
}

.owner-contacts__icon {
  position: absolute;
  fill: var(--color-copy);

  &--mail {
    top: 16px;
    right: 16px;

    @include tablet {
      top: 20px;
      right: 18px;
    }
  }

  &--phone {
    top: 13px;
    right: 13px;

    @include tablet {
      top: 17px;
      right: 18px;
    }
  }
}

.owner-contacts__input:focus + .owner-contacts__icon,
.owner-contacts__input:invalid:focus + .owner-contacts__icon {
  fill: var(--color-primary);
}

.owner-contacts__input:not(:placeholder-shown):invalid + .owner-contacts__icon {
  fill: var(--color-error);
}
