.page-footer {
  padding-top: 37px;
  padding-bottom: 22px;
  background-color: var(--color-background);

  @include tablet {
    padding: 43px 30px;
    padding-bottom: 56px;
  }

  @include desktop {
    padding: 52px 30px;
  }
}

.page-footer__content-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include content-center;

  @include tablet {
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }

  @include desktop {
    @include content-center;
    align-items: center;
  }
}

.page-footer__logo-text {
  display: block;
  width: 130px;
  height: 30px;
  margin-bottom: 28px;

  @include tablet {
    width: 132px;
    margin: 0;
    padding-top: 6px;
  }
}
