.program-card {

  margin-bottom: 20px;
  padding: 30px 22px 22px 20px;

  background-color: var(--color-background);

  @include tablet {
    position: relative;
    margin-bottom: 28px;
    padding: 79px 280px 63px 52px;
  }

  @include desktop {
    max-width: 570px;
    margin-bottom: 0;
    padding: 72px 52px 65px;
  }
}

.program-card:last-child {
  margin-bottom: 0;
}

.program-card__title {
  position: relative;
  margin-bottom: 29px;
  padding-left: 70px;
  text-transform: uppercase;
  @include titletext(24px,37px);

  @include tablet {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    margin-bottom: 74px;
    padding-left: 162px;
    font-size: 36px;
    line-height: 37px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;

    @include tablet {
      top: 14px;
      left: 395px;
      width: 200px;
      height: 200px;
    }

    @include desktop {
      top: -30px;
      left: -3px;
      width: 100px;
      height: 100px;
    }
  }
}

.program-card__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program-card__title--slim::after {
  top: -10px;
  left: 10px;
  width: 52px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");

  @include tablet {
    top: 6px;
    left: 424px;
    width: 140px;
    height: 193px;
  }

  @include desktop {
    top: -35px;
    left: 13px;
    width: 70px;
    height: 97px;
  }
}

.program-card__title--pro::after {
  top: 5px;
  left: -8px;
  width: 66px;
  height: 52px;
  background-image: url("../img/icon-cat-pro.svg");

  @include tablet {
    top: 60px;
    left: 360px;
    width: 268px;
    height: 112px;
  }

  @include desktop {
    top: -8px;
    left: -20px;
    width: 134px;
    height: 56px;
  }
}

.program-card__description {
  margin-bottom: 22px;
  @include copytext(14px,18px);

  @include tablet {
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}

.program-card__description--pro {
  @include tablet {
    padding-right: 32px;
  }

  @include desktop {
    padding-right: 0;
  }
}

.program-card__link {
  position: relative;
  display: block;
  padding-top: 19px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid var(--color-line);
  @include titletext(16px,16px);

  @include tablet {
    max-width: 150px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-card__link::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 96px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;

  @include tablet {
    top: 5px;
    left: 130px;
  }
}

.program-card__link:hover::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}
