.show-more {
  padding-top: 80px;
  padding-right: var(--padding-mobile);
  padding-bottom: 24px;
  padding-left: var(--padding-mobile);
  text-align: center;
  border-top: 1px solid var(--color-menuline);
  border-bottom: 1px solid var(--color-menuline);

  @include tablet {
    max-width: 324px;
    margin-top: 87px;
    padding: 162px 40px 36px;
    border: 1px solid var(--color-menuline);
  }

  @include desktop {
    max-width: 245px;
    margin-top: 78px;
    padding: 0 38px;
  }
}

.show-more__title {
  position: relative;
  margin-bottom: 7px;
  text-transform: uppercase;
  @include titletext(16px,20px);

  @include tablet {
    margin-bottom: 28px;
    padding: 0 40px;
    font-size: 20px;
  }

  @include desktop {
    margin-bottom: 24px;
    padding: 165px 0 0;
  }
}

.show-more__title::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  transform: translateX(-50%);
  opacity: 0.3;

  @include tablet {
    top: -109px;
    left: 93px;
    width: 60px;
    height: 60px;
  }

  @include desktop {
    top: 53px;
    left: 54px;
  }
}

.show-more__text {
  margin-bottom: 21px;
  @include copytext(12px,16px);

  @include tablet {
    margin-bottom: 86px;
    padding: 0 30px;
    font-size: 16px;
  }

  @include desktop {
    margin-bottom: 95px;
    padding: 0;
  }
}

.show-more__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  @include desktop {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
