.slider {
  overflow: hidden;

  @include tablet {
    width: 600px;
    margin: 65px auto 0;
    padding-bottom: 7px;
  }

  @include desktop {
    position: absolute;
    top: -120px;
    left: calc(50% - 20px);
  }
}

.slider__images {
  position: relative;
  width: 320px;
  height: 240px;
  margin-right: auto;
  margin-bottom: 33px;
  margin-left: auto;

  @include tablet {
    width: 680px;
    height: 510px;
    margin-bottom: 20px;
    transform: translateX(-10px);
  }

  @include desktop {
    margin-bottom: 45px;
    transform: translateY(5px);
  }
}

.slider__image {
  @include tablet {
    height: 510px;
  }
}

.slider__cat-pic {
  @include tablet {
    width: 680px;
    max-width: none;
    height: 510px;
  }

  @include desktop {
    width: 682px;
    height: 510px;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin-left: 45px;
  }
}

.slider__label {
  margin: 0 20px;
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;

  @include titletext(16px,20px);

  @include tablet {
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted var(--color-line);

    &:hover {
      border-bottom: 1px solid var(--color-line);
      outline: none;
    }

    &:active,
    &:focus {
      border-bottom: 1px solid var(--color-transparent);
    }
  }
}

.slider__label--before {
  @include tablet {
    margin-left: 14px;
  }

  @include desktop {
    margin-right: 24px;
  }
}

.slider__label--after {
  @include tablet {
    margin-right: 14px;
  }

  @include desktop {
    margin-left: 24px;
  }
}

.slider__before:checked ~ .slider__scale {
  justify-content: flex-start;
}

.slider__scale {
  position: relative;
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid var(--color-menuline);
  border-radius: 6px;

  @include tablet {
    width: 430px;
    height: 6px;
    background-color: var(--color-line);
    border: none;
  }
}

.slider__indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;

  @include tablet {
    top: -13px;
    width: 34px;
    height: 34px;
    background-color: var(--color-primary);
    background-image: radial-gradient(var(--color-primary) 0, var(--color-primary) 4px, white 5px, white 100%);
    border: 1px solid var(--color-menuline);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &:active,
    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.slider__scale-value {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 1px;
  height: 6px;
  background-color: var(--color-primary);
  border-radius: 6px;
  transition: width;

  @include tablet {
    top: 0;
    left: 0;
    height: 7px;
  }
}
