.social {
  width: 100%;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);

  @include tablet {
    width: auto;
    margin-left: 26px;
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social__item {
  width: 21px;
  margin: 0 18px;
  padding-top: 25px;
  padding-bottom: 16px;
}

.social__link {
  display: inline-block;
}

.social__icon {
  fill: var(--color-copy);

  @include tablet {
    &--vkontakte {
      width: 34px;
      height: 18px;
      margin-top: 2px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
      margin-top: -2px;
    }
  }
}

.social__icon:hover {
  fill: var(--color-primary);
}

.social__icon:active {
  opacity: 0.3;
  fill: var(--color-primary);
}
