.supplies__heading {
  margin-bottom: 30px;
  padding-left: var(--padding-mobile);
  border-bottom: 2px solid var(--color-primary);
  transform: translateY(-15px);

  @include tablet {
    margin-bottom: 76px;
    padding-left: var(--padding-tablet);
  }

  @include desktop {
    margin-bottom: 73px;
    transform: translateY(-19px);
  }
}

.supplies__heading-text {
  display: inline-block;
  padding-right: 24px;
  padding-left: 20px;
  background-color: white;
  transform: translate(-21px, 10px);

  @include titletext(24px,24px);

  @include tablet {
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
    transform: translate(-3px, 13px);
  }

  @include desktop {
    padding: 0 40px;
    transform: translate(-295px, 13px);
  }
}

.supplies__content-center {
  @include content-center;

  @include desktop {
    padding: 0;
  }

  @include desktop {
    width: 895px;
    margin: 0;
  }
}

.supplies__list {
  list-style: none;

  @include desktop {
    display: block;
  }
}

.supplies__item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-top: 1px solid var(--color-line);

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 27px 37px 27px;
    border-left: 1px solid var(--color-line);
    border-right: 1px solid var(--color-line);
  }

  @include desktop {
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px 0;
    padding-top: 15px;
    border-left: none;
    border-right: none;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-line);
  }
}

.supplies__title {
  margin-bottom: 14px;
  text-transform: uppercase;

  @include titletext(16px,16px);

  @include tablet {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 20px;
  }
}

.supplies__wrapper {
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
    padding-top: 4px;
  }

  @include desktop {
    display: flex;
    width: 290px;
  }
}

.supplies__amount,
.supplies__price {
  @include copytext(14px,14px);

  @include tablet {
    font-size: 16px;
    text-align: right;
  }

  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.supplies__amount {
  @include desktop {
    text-align: left;
  }
}

.supplies__price {
  @include tablet {
    margin-left: 52px;
  }
}

.supplies__btn {
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include tablet {
    margin-top: 24px;
  }

  @include desktop {
    max-width: 245px;
    margin: 0 0 0 35px;
  }
}
